<app-header></app-header>

<body>
    <br>
    <h1> Broj clanske karte: {{ korisnik.brClanskeKarte }} </h1>
    <div class="container" style="text-align: center;">
        <button *ngIf="uloga == 'Bibliotekar'" (click)="lendBook()" class="btn btn-info">Iznajmi knjigu</button>
    </div>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-4">
                <h2> {{ korisnik.ime }} {{ korisnik.prezime }} </h2>
                <h3> {{ korisnik.email }} </h3>
            </div>
            <div class="col-6">
                <button *ngIf="uloga == 'Clan'" (click)="updateMember()" class="btn btn-info">Izmeni podatke</button>
                <div *ngIf="displayUpdate">
                    <br>
                    <app-update-info></app-update-info>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div *ngIf="displayBooks" class="container">
        <app-books-by-format></app-books-by-format>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-7">
                <h2>Pozajmice</h2>
                <table class="table table-hoover">
                    <thead>
                        <tr>
                            <th> Datum preuzimanja </th>
                            <th> Datum vracanja </th>
                            <th> Knjiga </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pozajmica of pozajmice | filter: searchText">
                            <td> {{ pozajmica.datumPreuzimanja }} </td>
                            <td> {{ pozajmica.datumVracanja }} </td>
                            <td> {{ pozajmica.knjiga.naslov }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-5">
                <h2>Rezervacije</h2>
                <table class="table table-hoover">
                    <thead>
                        <tr>
                            <th> Knjiga </th>
                            <th> Dostupno primeraka </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rezervacija of rezervacije | filter: searchText">
                            <td> {{ rezervacija.knjiga.naslov }} </td>
                            <td> {{ rezervacija.knjiga.dostupno }} </td>
                            <td>
                                <button (click)="deleteReservation(rezervacija.rezervacijaID)" class="btn btn-warning">
                                    Obrisi </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>