<app-header></app-header>

<body>
    <br>
    <div class="container">
        <form (ngSubmit)="newAuthorForm()">
            <div>
                <label>Ime:</label> <br>
                <input type=text [(ngModel)]="autor.ime" name="ime"><br><br>
            </div>
            <div>
                <label>Prezime:</label> <br>
                <input type=text [(ngModel)]="autor.prezime" name="prezime"><br><br>
            </div>
            <div>
                <label>Biografija:</label> <br>
                <input type=text [(ngModel)]="autor.biografija" name="biografija"><br><br>
            </div>
            <div>
                <label>Personalni sajt: </label> <br>
                <input type=text [(ngModel)]="autor.personalniSajt" name="personalniSajt"><br><br>
            </div>

            <button type="submit" class="btn btn-info"> Sacuvaj </button>

        </form>
    </div>
</body>