<app-header></app-header>

<body>
    <div class="container">
        <br>
        <input type="search" [(ngModel)]="searchText" placeholder="Pretraga"> <br><br>
    </div>

    <div class="container">
        <button routerLink="/new-librarian" class="btn btn-info">Dodaj bibliotekara</button>
    </div>

    <div class="container">
        <h2>Bibliotekari</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th> Ime</th>
                    <th> Prezime </th>
                    <th> username</th>
                    <th> email </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bibliotekar of bibliotekari | filter: searchText">
                    <td> {{ bibliotekar.ime }} </td>
                    <td> {{ bibliotekar.prezime }} </td>
                    <td> {{ bibliotekar.brClanskeKarte }} </td>
                    <td> {{ bibliotekar.email }} </td>
                    <td>
                        <button (click)="deleteLibrarian(bibliotekar.korisnikID)" class="btn btn-warning"> Obrisi </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>