<app-header></app-header>

<body>
    <h1> {{ knjiga.naslov }} </h1>
    <br>
    <h2> {{ autor.ime }} {{ autor.prezime }} </h2>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img [src]="slika" width="250" height="350">
            </div>
            <div class="col-4">
                <p> {{knjiga.opis}} </p>
            </div>
            <div class="col-4">
                <div *ngIf="uloga == 'Clan'" style="text-align: center;">
                    <div *ngIf="formatID == 1; else nijeStampana">
                        <div *ngIf="dostupno == 0; else dostupnaJe">
                            Knjiga trenutno nije dostupna.
                            Ukoliko zelite, mozete je rezervisati kako bi pratili njenu dostupnost. <br>
                            <button (click)="rezervisi()" class="btn btn-info">Rezervisi</button>
                        </div>
                        <ng-template #dostupnaJe>
                            Knjiga je dostupna. Mozete je iznajmiti u biblioteci.
                        </ng-template>
                    </div>
                    <ng-template #nijeStampana>
                        <div *ngIf="iznajmljena; else nijeIznajmljena">
                            Knjiga je iznajmljena.
                            <br>
                            <a [href]="fajl" target="_blank" class="btn btn-info"> Pristupi fajlu </a>
                        </div>
                        <ng-template #nijeIznajmljena>
                            Knjigu mozete odmah pozajmiti. Fajl ce vam biti dostupan 30 dana.
                            <br>
                            <button (click)="iznajmi()" class="btn btn-info"> Knjigu mozete citati ovde </button>
                        </ng-template>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</body>