<app-header></app-header>

<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h4 style="text-align: left;"> Odaberite kategorije:</h4>
                <div *ngFor="let kategorija of sveKategorije">
                    <input type="checkbox" [(ngModel)]="kategorija.isChecked" (change)="changeSelection()"> {{
                    kategorija.kategorija }}
                </div>
                <button (click)="chooseCategory()" class="btn btn-info"> Potvrda kategorija </button>
            </div>
        </div>
    </div>
</body>