<app-header></app-header>

<form (ngSubmit)="newLibrarianForm()">
    <label>Ime:</label>
    <input type=text [(ngModel)]="korisnik.ime" name="ime"><br><br>
    <label>Prezime:</label>
    <input type=text [(ngModel)]="korisnik.prezime" name="prezime"><br><br>    
    <label>Username</label>
    <input type=text [(ngModel)]="korisnik.brClanskeKarte" name="brClanskeKarte"><br><br>
    <label>Password: </label>
    <input type=password [(ngModel)]="korisnik.password" name="password"><br><br>
    <label>E-mail</label>
    <input type=text [(ngModel)]="korisnik.email" name="email"><br><br>

    <button type="submit"> Sacuvaj </button>

</form>