<app-header></app-header>

<body>
    <h1> Knjige </h1>

    <div class="container">
        <input type="search" [(ngModel)]="searchText" placeholder="Pretrazite knjige">
    </div>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-2">
                Kategorije:
                <div *ngFor="let kategorija of kategorije">
                    <a routerLink="/library/{{kategorija.kategorijaID}}"> {{ kategorija.kategorija }} </a>
                    <br>
                </div>
            </div>
            <div class="col-10">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th> Naslov</th>
                            <th> Opis </th>
                            <th> Format </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let knjiga of knjigePoKategoriji | filter: searchText">
                            <td> {{ knjiga.naslov }} </td>
                            <td> {{ knjiga.opis }} </td>
                            <td> {{ knjiga.format.format }} </td>
                            <td> <button (click)="bookInfo(knjiga.knjigaID)" class="btn btn-warning"> Detalji </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>