<app-header></app-header>

<body>
    <div class="container">
        <br>
        <h3 style="text-align: left;">Izabrani format: {{ format.format }}</h3>
        <h4 style="text-align: left;">Izabrani autor: {{ autor.ime }} {{ autor.prezime }} </h4>
        <br>
    </div>
    <div class="container">
        <form (ngSubmit)="onSubmit()">
            <div>
                <label>Naslov:</label> <br>
                <input type=text [(ngModel)]="knjiga.naslov" name="naslov"><br><br>
            </div>
            <div>
                <label>Opis:</label> <br>
                <input type=text [(ngModel)]="knjiga.opis" name="opis"><br><br>
            </div>
            <div *ngIf="format.formatID == 1; else addFile">
                <label>Broj primeraka:</label> <br>
                <input type=number [(ngModel)]="knjiga.brPrimeraka" name="brPrimeraka"><br><br>
                <label>Dostupno: </label> <br>
                <input type=number [(ngModel)]="knjiga.dostupno" name="dostupno"><br><br>
            </div>
            <div>
                <ng-template #addFile>
                    <label>Link do fajla:</label> <br>
                    <input type=text [(ngModel)]="knjiga.fajl" name="fajl"><br><br>
                </ng-template>
            </div>
            <button type="submit" class="btn btn-info"> Sacuvaj knjigu </button>
        </form>
    </div>
</body>